.headerBackground{
  background-image: url("https://mcd-landings-l-statics.appmcdonalds.com/uploads-live/background_image_3x_mobile_72a9cec9dd.webp");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}